<div class="home-page">
  <h2>/WAIN/</h2>
  <p>Please sign in to continue:</p>

  <%= link_to 'Sign In', new_user_session_path, class: 'btn' %>

  <p>Or</p>

  <%= link_to 'Browse Products', products_path, class: 'btn' %>
</div>
