<div class="home-page">
  <div class="wain" id="wineLogo">/wʌɪn/</div>
  <p id="noun">noun</p>
  <h2 id="description">"an alcoholic drink made from fremented grapes" </h2>
  <%= link_to 'Browse our wines', products_path, class: 'btn' %>
</div>
