<main>
  <section class="about-section">
    <div class="title">
      <h1>About Us</h1>
    </div>
     <div class="parallax-image"></div>
    <div class="content">
      <p>Welcome to our website! Here, we...</p>
      <!-- More content about your needed  -->
    </div>
  </section>

  <section class="more-details">
    <div class="parallax-image2"></div>
    <div class="info">
      <p>Need more information from Maria to fill in the gaps of on the page hello hello hello</p>
      <button> Hello </button>
    </div>
  </section>
</main>
