<main class="about-page">
  <section class="about-section">
      <div class="title">
        <h1>Wain, For You</h1>
      </div>
      <div class="parallax-image"></div>
      <div class="intro">
        <p>Are you a wine enthusiast looking for a unique and authentic experience? Look no further than the heart
          of Spain, where a small village in the province of Toledo awaits you with open arms.
          This charming village is not only known for its rich history and picturesque landscapes but also for its
          exceptional wine produced by the people </p>
      </div>
      <div class="parallax-image2"></div>
      <div class="intro">
      <p>This arises from the union of families who have been dedicated to winemaking for genertaions,
          passing down their knowledge and passion from one family member to another.
          Their love for the land and the grapes is evident in every bottle they produce.
          This is not just a business for them; it is a way of life
        </p>
    </div>
    <div class="parallax-image3"></div>
     <div class="intro">
        <p>The village takes great pride in their winemaking process, using traditional methods that have been passed
        down through the generations. They believe that the key to producing exceptional wine lies in the careful
        selection of the grapes, the gentle pressing, and the aging in oak barrels </p>
    </div>
    <div class="parallax-image3"></div>
    <div class="intro">
      <p>Each bottle of wine tells a story, a story of hard work, dedication and a deep connection to the land.
        When you take that first sip, you can taste the history and tradition that goes in to every drop. The flavours
        are rich and complex, with hints of ripe fruit, earthy undertones and a touch of oak.
        It's a symphony of flavours that will dance on your palate and leave you craving for more.
        But it's not just the wine itself that makes this experience so special; its the people behind it </p>
    </div>
  </section>
</main>
