.cart{
  display: grid;
}

.cart-item{
  color: white;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  margin-bottom: 5px;
  width: 50%
}

.cart-product-image{
  height: 200px;

}

.add-subtract-button{
  border: 1px solid red
}

.cart-summary{

}
