.cart-item{
  color: white;
  padding-left: 20px;
  justify-content: space-between;
}

.cart-product-image{
  height: 200px;

}

.add-button{
 display: flex;
}

.subtract-button{
 display: flex;
 right: 10;
}
